Social_Media_Post_Generator.json
{
  "name": "Social Media Post Generator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6ed52e11-6603-494a-aa4a-5ba737dfd662",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant who creates professional social media content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "d7293c49-6edf-48e5-940a-45e6b91fb1da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "e00391df-5c58-407d-b2d6-c040396c2543",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sRMLrxWQWlWmovuJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Social Media Post Generator\n",
        "height": 420,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -80
      ],
      "typeVersion": 1,
      "id": "829c67ed-58cb-481e-ad0d-cd522552aedd",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Create a Twitter / X post on using AI Agents with n8n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8a1c1ca-ccd3-4f2a-b55f-61b50397789e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "def649484dbfa111196dbfe9e5bababd4b32b59eb2cc040596179b822337afe5"
  },
  "id": "XfUwUE34SCkzJI4n",
  "tags": []
}